img.emoji {
   height: 16px;
   width: 16px;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.twemoji {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
}

h1 {
  color: red;
}

